{{#if this.pinnedTopics}}
    <tbody class="pinned-topics">
        {{#each this.pinnedTopics as |topic|}}
            {{topic-list-item
                    topic=topic
                    bulkSelectEnabled=@bulkSelectEngabled
                    lastVisitedTopic=@lastVisitedTopic
                    selected=@selected
                    hideCategory=@hideCategory
            }}
        {{/each}}
        <tr class="table-break">
            <td colspan="10">&nbsp;</td>
        </tr>
    </tbody>
{{/if}}